div
  v-list
  
    v-list-tile(
      v-for="(patient, i) in patients"
      :key="i"
      @click.stop="open(i)"
    )
      v-list-tile-avatar
        img

      v-list-tile-content
        v-list-tile-title {{ patient.first_name }} {{ patient.last_name }}

      v-list-tile-action(
        @click.stop="remove(i)"
      )
        v-icon delete_forever