main
  v-progress-linear( v-if = "!form" )
  div#main-container( v-else )
    header.primary( )
      h1 {{ patient.first_name }} {{ patient.last_name }}
      div.filler
        h2.name {{ fillerName }}
        div.punctuation 
          span.pts {{ totalPunctuation }}
    div.list
      p.comment( v-if = "form.comment" ) {{ form.comment }}
      p.tip( v-if = "!hasTasks" ) Clique em ADICIONAR ATIVIDADE

      task( v-else
        v-for = "(task, i) in form.tasks" 
        :task = "task"
      )
      

    button.new-task-btn.secondary(
      @click = "$refs.form.show()"
    ) ADICIONAR ATIVIDADE

    tasks-form(
      ref = 'form'
      :taskOptions = "taskOptions"
    )