@import './colors';

.floating
  box-shadow: 0 0 30px lightGrey;

base-size = 16px;
.padded
  padding: base-size;
.padded-large
  padding: base-size*2;

.link
  transition: color 500ms ease-in-out;
  cursor: pointer;
  &:hover
    transition: color 100ms ease-in-out;
    color:  orange;


.quote
  font-style italic
  font-size .9em

  &:before
    content: '"'
  &:after
    content: '"'

.pts
  font-style italic

  &:after
    content: 'pts'
    font-style italic
    font-size .8em
    margin-left 2px

.text-center
  text-align center