.simple-input{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  .input{
    padding: 0 16px;
    flex: 1 1 100%;
    outline: 0 !important;
  }
  .suffix{
    color: grey;
    font-weight: 600;
    flex: 0 0 auto;
    text-align: center;
  }
}