main
  height: 100%;
  display: flex;
  flex-direction: column;

header
  height: 100px;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items:center;

  ul
    margin: 0 2em
    margin-right: 4em;
    font-size: .8em;
  h1
    font-weight: bold;
    font-size: 1.2em;

#panel
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 16px;
  flex: 1 1 100%;

  &> h2
    font-size: 1em;
    flex: 0 0 1.2em;
    text-align: center;

  &> div
    flex: 1 1 100%;
    
  