main
  header.padded
    ul
      li 
        a Alterar dados pessoais
    h1(
      v-text='userData.name'
    )

  div#panel
    
    h2(
      class='error'
    ) Você tem 9 novos avisos

    h2(v-text="title")

    div
      aside#side-tabs
        ul
          li.info.font-weight-bold Pacientes
      section#workspace.padded
        router-view
      section#warning-cards.padded