main
  header.padded
    ul
      li 
        a Alterar dados pessoais
      li 
        a(@click='logout') Sair
    h1(
      v-text='userData.name'
    )

  div#panel
    
    h2(
      class='error'
    ) Você tem 9 novos avisos

    div
      aside#side-tabs
        ul
          li.info.font-weight-bold Pacientes

      section#workspace.padded
        h2.title(v-text="title")
        router-view.inner-route.dashboard-view

      section#warning-cards.padded