div#signup-page.page
  
  h1#title KeepUp

  div#login-form-wrapper.floating.padded-large(
    :class=`[
      isLogin? 'login' : 'signup'
    ]`
    ref = "loadingContainer"
    v-loading = "loading"
  )
    p#signup-btn
      span.link(
        @click='isLogin=!isLogin'
        v-text="isLogin? 'Cadastrar Usuário' : 'Acessar KeepUp'"
        :style = "{ visibility: loading? 'hidden' : 'visible' }"
        ref = "toggle"
      )

    signup-form#signup-form(
      @submit='submit'
      :isLogin='isLogin'
    )