div#signup-page.page

  h1#title KeepUp

  div#login-form-wrapper.floating.padded-large(
    :class=`[
      tabSelected
    ]`
    ref = "loadingContainer"
    v-loading = "isLoading"
  )
    p#signup-btn
      span.link(
        @click='toggleLoginSignup()'
        v-text="topToggleText"
        :style = "{ visibility: isLoading? 'hidden' : 'visible' }"
        ref = "toggle"
      )

    signup-form#signup-form(
      @submit='submit'
      :type='tabSelected'
    )
  a.reset-password-link( @click="resetPassword" ) Alterar senha