.v-list.ku-list
  background: transparent !important;
  max-width: 600px;
  margin 0 auto;

  .v-list__tile
    padding: 0
  
  .v-list__tile__action
    min-width: 40px

.v-list-tile:last-child
  margin-bottom: 100px;