#visualization-route
    text-align center
    #form-toggles
        margin 0 auto;
        display inline-block

    #gantt-container
        display: grid;
        grid-template-areas: "intersection xAxis" "yAxis gantt";

        #intersection
            grid-area intersection
        #yAxis
            grid-area yAxis
        #xAxis
            grid-area xAxis
        #gantt
            grid-area gantt