#visualization-route
    text-align center
    #form-toggles
        margin 0 auto;
        display inline-block

    #gantt-container
        display: grid;
        grid-template-areas: "intersection xAxis" "yAxis gantt";
        grid-template-columns min-content auto

        #intersection
            grid-area intersection
            align-self center
            justify-self left
            text-transform uppercase
        #yAxis
            grid-area yAxis
        #xAxis
            grid-area xAxis
        #gantt
            grid-area gantt