.visualization, #gantt, #rows, #xAxis, #canvas
  width: 100%;
  height: 100%;
  position: relative;

#xAxis, #rows
  position absolute;
  top 0;


.visualization
  display flex;

#yAxis
  max-width: 300px;

.task-title
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  font-weight bold;
  align-items: center;
  text-align: left;
  padding: 5px;

  &:nth-of-type(odd)
    background-color: rgba(100, 200, 200, .5);
  
  &:nth-of-type(even)
    background-color: rgba(120, 220, 220, .5);


.row, .hour-tick
  box-sizing: border-box;

  &:nth-of-type(odd)
    background-color: rgba(100, 200, 200, .3);
  
  &:nth-of-type(even)
    background-color: rgba(120, 220, 220, .3);



#xAxis
  display flex;

  .hour-tick
    padding 5px;
    display: flex;
    align-items: flex-end;