section.visualization(
  :style = "{ height: `${canvasHeight}px` }"
)
  div#yAxis( v-if = "scales")
    h2.task-title(
      v-for = "(title, i) in scales.titles"
      :style = "rowStyle()"
    ) {{ title }}

  div#gantt( 
    ref = "gantt"
    v-if = 'scales' )
    div#rows
      div.row(
        v-for = "(title, i) in scales.titles"
        :style = "rowStyle()"
      )
    
    div#xAxis
      div.hour-tick(
        v-if = "doneScaling"
        v-for = "hour in (hours)"
        :style = "{ width: getHourTickWidth(hour) }"

      ) {{ format(getNextHourTick(hour - 1)) }}

    div#canvas( ref = "canvas" )
      task(
        v-for = '(task, i) in tasks'
        ref = "tasks"
        :key = 'task.id'
        @click = "selected"
        @change = 'onTaskChange'
        :model = 'task'
        :durationScale = 'scales.getDurationScale()'
        :independencyScale = 'scales.getIndependencyScale()'
        :momentScale = 'scales.getMomentScale()'
        :heightScale = 'scales.getHeightScale()'
        :categoryScale = 'scales.getCategoryScale()'
        :typeScale = 'scales.getTypeScale()'
      ) {{ scales.getDurationScale(task.duration) }}